In [ ]:
print('Wake up neo\n')
print('The matrix has you...')

Wake up neo

The matrix has you...

In [ ]:
meu_nome = "Vitor"
minha_idade = 24
meu_salario = 2000.99
estou_de_ferias = False

print(meu_nome)
print(minha_idade)
print(meu_salario)
print(estou_de_ferias)

Vitor
24
2000.99
False

In [ ]:
print(type(meu_nome))
print(type(minha_idade))
print(type(meu_salario))
print(type(estou_de_ferias))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
#entrada de dados

nome = input("Digite seu nome: ")
idade = input("Digite sua idade: ")
salario = input("Digite seu salario: ")
print()
print(nome)
print(idade)
print(salario)

print("nome",nome,"idade",idade)

Digite seu nome: vitor
Digite sua idade: 24
Digite seu salario: 2000

vitor
24
2000
nome vitor iade 24

In [ ]:
num1 = int(input('Digite o primeiro numero: '))
num2 = int(input('Digite o segundo numero: '))

resultado = num1 + num2

print(resultado)

Digite o primeiro numero: 10
Digite o segundo numero: 20
30

In [ ]:
num1 = 50
num2 = 20
print("O primeiro numero e",num1,"e o segundo e",num2)

O primeiro numero e 50 e o segundo e 20